/* Reset de estilos para limpiar márgenes y rellenos predeterminados */
body {
    margin: 0;
    padding: 0;
    background: url(img/noche_3.jpg);
    background-size: cover;
    /* overflow: hidden; */
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
  }

  section{
    height: 100vh;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .regalo{
    border-radius: 20px;
    border: green 3px solid;
  }

  .card{
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: solid 3px rgba(255, 255, 255, 0.8);
  }

  .estrella {
    position: absolute;
    background-color: yellow;
    width: 2px;
    height: 2px;
    animation: parpadeo 1s infinite alternate;
    z-index: 100000;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  #destellos {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.destello {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    animation: destello-anim 1s linear infinite;
}

@keyframes destello-anim {
    to {
        transform: scale(1);
        opacity: 0;
    }
}